.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#ignore our settings
.env

models/

transcriptarr.db

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo